﻿
<form action="/" method="post">
    <div class="container">
        <h2>Student Information</h2>
        <div>
            <div class="col-5">
                Student code
            </div>
            <div class="col-7">
                
                <input [(ngModel)]="student.studentCode"
                       name="studentCode"
                       type="text" class="form-control" id="studentCode" (input)="OnInput()">
                <p style="color:red" *ngIf="student.studentCode == ''">Vui lòng nhập student code</p>
            </div>
        </div>
        <div>
            <div class="col-5">
                Student name
            </div>
            <div class="col-7">
                <input type="text" name="studentName" value="" [(ngModel)]="student.studentName"  (input)="OnInput()"/>
                <p style="color:red" *ngIf="student.studentName == ''">Vui lòng nhập student name</p>
            </div>
        </div>
        <div>
            <div class="col-5">
                Student address
            </div>
            <div class="col-7">
                <input type="text" name="studentAddress" value="" [(ngModel)]="student.studentAddress"  (input)="OnInput()"/>
                <p style="color:red" *ngIf="student.studentAddress == ''">Vui lòng nhập student address</p>
            </div>
        </div>
        <div>
            <div class="col-5">
                Student point
            </div>
            <div class="col-7">
                <input type="text" name="studentPoint" value="" [(ngModel)]="student.studentPoint"  (input)="OnInput()"/>
                <p style="color:red" *ngIf="student.studentPoint == ''">Vui lòng nhập student point</p>
            </div>
        </div>
        <div>
            <input type="submit" name="name" value="Submit" (click)="submitForm()" [disabled]="student.studentCode == '' || student.studentName == '' || student.studentAddress == '' || student.studentPoint == '' || student.studentCode == null || student.studentName == null || student.studentAddress == null || student.studentPoint == null"/>
        </div>
    </div>
</form>
<div>
    <h3>Result</h3>
    <div *ngIf="checkShow == true">
        <div>
            StudentCode: {{student.studentCode}}
        </div>
        <div>
            StudentName: {{student.studentName}}
        </div>
        <div>
            StudentAddress: {{student.studentAddress}}
        </div>
        <div>
            StudentPoint: {{student.studentPoint}}
        </div>
    </div>
</div>